// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Colors
$brand-yellow: #ffde00;

// Global Styles
$body-bg: #000000;
$text-color: #ffffff;
$link-color: $text-color;
$link-hover-decoration: underline;
$footer-color-light: #7F7F7F;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "rift-soft", sans-serif;
$font-family-serif: "adelle", Georgia, "Times New Roman", Times, serif;
$font-family-script: "voltage", serif;
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;
$line-height-base: 1.571428573; // 22/14

// Components
$border-radius-base: 1px;

// Navbar
$navbar-default-bg: #000000;

// Buttons
$btn-default-color: #424242;
$btn-default-bg: $brand-yellow;
$btn-default-border: $brand-yellow;

// Inputs
$input-bg: #C4C4C4;
$input-border: $input-bg;
$input-border-focus: lighten($input-border, 25%);
$input-color-placeholder: darken($input-bg, 15%);
