// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

p {
	font-weight: 100;
}

h2 {
	border-bottom: 1px solid #4c4c4c;
}

a {
	text-decoration: underline dotted $text-color;
	&.btn  {
		text-decoration: none;
	}
}

label {
	font-family: $font-family-sans-serif;
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 0;
}

button, .btn {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	padding: 8px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
	&:hover,
	&:focus {
		background-color: lighten($brand-yellow, 10%);
		border-color: lighten($brand-yellow, 10%);
	}
	.subtext {
		font-size: 10px;
		font-weight: 600;
		display: block;
	}
}

input::placeholder,
textarea::placeholder {
	font-weight: 100;
}

.rotating-quotes {
	margin-top: 15px;
	min-height: 195px;
	margin-bottom: 16px;
	border-bottom: 1px dotted #4c4c4c;
	padding-bottom: 8px;
	text-align: center;
	display: flex;
	align-items: center;
	.quote {
		font-family: $font-family-script;
		line-height: 1;
		font-size: 30px;
		display: none;
		&:first-child {
			display: block;
		}
	}
	.author {
		font-family: $font-family-sans-serif;
		font-size: 14px;
		margin-bottom: 0;
		&::before {
			content: '–';
			margin-right: 2px;
		}
	}
}

.credits {
	h2 {
		margin: 0;
	}
	&.cast,
	&.crew {
		margin-top: 32px;
		.entry {
			border-bottom: 1px dotted #4c4c4c;
			height: 40px;
			padding-top: 8px;
			&:last-child {
				border-bottom: none;
			}
			.role {
				font-family: $font-family-sans-serif;
				font-weight: 600;
			}
			.credit {
				float: right;
				font-style: italic;
			}
		}
	}
}

.press {
	button, .btn, .btn-default {
		color: #E3E3E3;
		background-color: #212121;
		border-color: #212121;
		&:hover,
		&:focus {
			background-color: #292929;
			border-color: #292929;
		}
	}
}

ul,
ol {
	font-weight: 100;
}

ol {
	list-style: lower-alpha;
}

.caps {
	text-transform: uppercase;
}

.ital {
	font-style: italic;
}

h3, .h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
}

.releases {
	margin-top: 16px;
	.release {
		margin-top: 16px;
		.release-title {
			margin-bottom: 4px;
			line-height: 1.2;
			a {
				font-weight: 400;
			}
		}
		.release-date {
			font-size: 10px;
			font-weight: 100;
			margin-bottom: 0;
			opacity: 0.5;
		}
	}
}

// Header
@import "layout/header";

// Navigation Bar
@import "layout/navbar";

// Footer
@import "layout/footer";
